* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 10rem;
}

.container {
    max-width: 1080px;
}

body {
    margin-top: 20px;
}

h1 {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #0D6EFD;
}


// MainCard
// .select-style {
//     border-radius: 10px;
// }


// ChangePokemon
.pkm-img {
    border: 1px dotted #0D6EFD;
    border-radius: 20px;
}