* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

img {
    display: block;
    width: 10rem;
}

.container {
    max-width: 1080px;
}

body {
    margin-top: 20px;
}

h1 {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #0D6EFD;
}


// MainCard
.result {
    font-weight: bold;
}

.pokemon-logo {
    height: 100px;
}

.title img {
    display: inline;
}

// ChangePokemon

.pokemon-image {
    height: 190px;
    width: 190px;
    background-image: url("assets/pokeball.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pkm-img {
    width: 16rem;
}

.pokemon-name {
    text-align: center;
}

.pokemon-name span {
    text-transform: capitalize;
}